<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.PayrollDao">

    <insert id="saveSheet" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO payroll (`order_id`, `stuff_id`, `name`, `bank_account_name`, `row_wages`, `individual_income_tax`,
                             `unemployment_insurance`, `housing_provident_fund`, `tax`, `real_wages`, `state`, `create_time`)
        VALUES (#{orderId}, #{stuffId}, #{name}, #{bankAccountName}, #{rowWages}, #{individualIncomeTax},
                #{unemploymentInsurance}, #{housingProvidentFund}, #{tax}, #{realWages}, #{state}, #{createTime})
    </insert>

    <update id="approval">
        update payroll
        set `state` = #{state}
        where order_id = #{payrollId}
    </update>

    <select id="getLatestSheet" resultType="com.nju.edu.erp.model.po.PayrollPO">
        select * from payroll order by order_id desc limit 0,1 ;
    </select>

    <select id="findSheetIdByOperator" resultType="java.lang.String">
        select order_id from payroll where operator = #{operator}
    </select>

    <select id="findSheetIdByTime" resultType="java.lang.String">
        select order_id from payroll where create_time >= #{beginDate} and create_time &lt;= #{endDate}
    </select>

    <select id="findSheetIdBySomeConditions" resultType="java.lang.String">
        SELECT order_id FROM payroll
        WHERE 1 = 1
        <if test="beginDate != null">
            and create_time >= #{beginDate}
        </if>
        <if test="endDate != null">
            and create_time &lt;= #{endDate}
        </if>
    </select>

    <select id="findSheetById" resultType="com.nju.edu.erp.model.po.PayrollPO">
        SELECT * FROM payroll WHERE order_id = #{id}
    </select>

    <resultMap id="PayrollPO" type="com.nju.edu.erp.model.po.PayrollPO">
        <id column="order_id" property="orderId"/>
        <result column="stuff_id" property="stuffId"/>
        <result column="name" property="name"/>
        <result column="bank_account_name" property="bankAccountName"/>
        <result column="row_wages" property="rowWages"/>
        <result column="individual_income_tax" property="individualIncomeTax"/>
        <result column="unemployment_insurance" property="unemploymentInsurance"/>
        <result column="housing_provident_fund" property="housingProvidentFund"/>
        <result column="tax" property="tax"/>
        <result column="real_wages" property="realWages"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
